body {
  background-color: #f4f5f7;
  font-family: "Roboto Condensed", sans-serif;

}

/* mobile stups*/
.bg-header {
  background: #f72210;
  color: white;
  width: 100%;
}

.logo {
  width: 145px;
  height: 45px;
  padding: 12px;
}

.first-button {
  width: 92px;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 12px;
  background-color: #ffe400;
}

.h3 {
  font-size: 18px;
  margin: 10px 0;
  line-height: 1em;
}
.h3Top {
  font-size: 20px;
}
.h4 {
  font-size: 15px;
}

.img-div {
  position: relative;
}

.img-link {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
}

.black {
  color: black;
}

.bor-t {
  border-top: 4px solid #d9d9d9;
  border-bottom: 4px solid #d9d9d9;
}
.text-size {
  font-size: 13px;
}

.text-size-16 {
  font-size: 16px;
}
.text-size-14 {
  font-size: 14px;
}

.bg-span {
  background-color: black;
  font-size: 12px;
  margin: -16.5px 0;
  z-index: 10;
}

.line-heig {
  line-height: 1em;
  font-size: 15px;
}
.font-size-12 {
  background-color: #c2d4d7;;
}

.negative-marg {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -5px;
}

.image1 {
  position: absolute;
  top: 0;
  left: 0;
}

.image2 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 11;
  margin-top: 35px;
  margin-right: 50px;
}
