body {
  background-color: #f4f5f7;
  font-family: "Roboto Condensed", sans-serif;
}

.hiden {
  display: none;
}
.show {
  display: block;
}

/* mobile stups */
.bg-header {
  background: #f72210;
  width: 100%;
}

/* colors */
.txt-gray {
  color: #03030366;
}

.txt-drgray {
  color: #333;
}

.txt-dargray {
  color: #555;
}

.txt-mrdargray {
  color: #666;
}

.txt-red {
  color: #f72210;
}

.txt-blue {
  color: #3581f4;
}

.bg-red {
  background-color: #f72210;
}

.logo {
  width: 135px;
  height: 35px;
}

.first-button {
  background-color: #ffe400;
}

.img-div {
  position: relative;
}

.img-link {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.black {
  color: black;
}

.bor-t {
  border-top: 4px solid #d9d9d9;
  border-bottom: 4px solid #d9d9d9;
}

.text-size-12 {
  font-size: 12px;
}

.text-size {
  font-size: 13px;
}

.text-size-14 {
  font-size: 14px;
}

.h4 {
  font-size: 15px;
}

.text-size-16 {
  font-size: 16px;
}

.h3 {
  font-size: 18px;
  line-height: 1em;
}

.h3Top {
  font-size: 20px;
}

.bg-span {
  background-color: black;
  font-size: 12px;
  margin: -16.5px 0;
  z-index: 10;
}

.line-heig {
  line-height: 1em;
  font-size: 15px;
}

.negative-marg {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -5px;
  z-index: 10;
}

.img-div-1 {
  position: relative;
  top: 0;
  left: 0;
  width: "260px";
  height: "241px";
}

.image1 {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 25px;
}

.image2 {
  position: absolute;
  left: 50px;
  top: 10px;
  margin-left: 60px;
}

/* code for tablets*/

.display {
  display: none;
}

@media screen and (min-width: 768px) {
  .text-size-14,
  .txt-14 {
    font-size: 18px;
  }

  .h3 {
    font-size: 22px;
  }

  .text-size {
    font-size: 15px;
  }

  .text-left {
    text-align: left;
  }

  .display {
    display: initial;
  }

  .hid-tab {
    display: none;
  }

  .show-tab {
    display: inline-block;
  }
}
